@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
.sitecontainer {
  margin: 0;
  padding: 0;
  max-width: 2000px;
  
}
.header {
  text-align: center;
  color: #fff;
}
.hidden {
  display: none;
}
.topsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #5E29D6;
  padding-top: 32px;
  padding-bottom: 10px;
  padding-left: 48px;
  padding-right: 48px;
   
}
nav{
    cursor: pointer;
}
nav ul li
{
  display: inline-block;
  list-style: none;
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: medium;
  margin: 20px 30px;
}
nav a
{
  color: #fff;
  text-decoration: none;
}
nav a:hover
{
  color: blue;
}
.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
    
}
.secondarybtn{
    border-color: white;
    justify-content: center;
    align-items: center;
    padding: 13.1765px 22.5882px;
    gap: 9.41px;
    width: 170.18px;
    height: 51.35px;
    border: 1.6px solid #FFFFFF;
    border-radius: 48px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 16px; 
    font-weight: bold;    


}
.hero {
   
    height: 100vh;
    text-align: center;
    color: #fff;
    padding-top: 130px;
    background: url(../images/full\ image\ with\ logo.png) no-repeat;
    height: 630px;
    background-position: center;
    text-align: left;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  


}
.heroheading{
color: white;
font-size: 75px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
font-style: normal;
line-height: 100.5%;
letter-spacing: -0.02em;
text-align: left;
padding-left: 48px;

}
.herobody{
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150.5%;
text-align: left;
padding-left: 48px;
padding-top: 48px;
}
.heroimg{
    height: auto;
  }
.primarybtn{

  padding: 16px 24px;
  gap: 9.41px; 
  position: absolute;
  height: 57px;
  left: 2.5%;
  right: 78.89%;
  top: 570px;
  background: #00CBF3;
  border-radius: 48px;
  border: none;
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: auto;
  margin-top: 24px;


}
.Job {
  background-color: #EBFCFF;
  height: 748px;

}
.sectionheading{
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  padding-left: 48px;
  padding-top: 84px;
  padding-bottom: 32px;
  color: #161C31;
}
.sectionbody{
  font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight:500;
font-size: 24px;
line-height: 140%;
text-align: center;
color: #161C31;
opacity: 66%;
}
.Work-Area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 64px;
    padding-bottom: 48px;
   align-content: center;
}
.iconcard{
    width: 296px;
    height: 268px;
    border: none;
   background-color: white;
   border-radius: 12px;
    position: relative;
}
.iconcard img {
    align-content: center;
    margin-top: 64px;
    padding-left: 104px;
}
.cardheading{
  font-family: 'Manrope', sans-serif;
    align-content: center;
    margin-top: 48px;
    text-align: center;
    color: #161C31;
    font-size: 24px;
    font-weight:500;
}
.clients{
  height: auto;


}

.cilents-name{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  justify-content: space-evenly;
  justify-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.client1 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 1.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client1:hover {

  background: url(../images//client\ logo\ hover\ 1.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client2 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 2.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client2:hover {

  background: url(../images//client\ logo\ hover\ 2.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client3 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 3.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client3:hover {

  background: url(../images//client\ logo\ hover\ 3.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client4 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 4.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client4:hover {

  background: url(../images//client\ logo\ hover\ 4.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client5 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 5.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client5:hover {

  background: url(../images//client\ logo\ hover\ 5.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client6 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 6.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client6:hover {

  background: url(../images//client\ logo\ hover\ 6.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client7 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 7.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client7:hover {

  background: url(../images//client\ logo\ hover\ 7.svg) no-repeat;
  background-size: 120px 120px;
  
}

.client8 {
  width: 120px;
  height: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/client\ logo\ 8.svg) no-repeat;
  background-size: 120px 120px;
  transition: 0.3s;

}

.client8:hover {

  background: url(../images//client\ logo\ hover\ 8.svg) no-repeat;
  background-size: 120px 120px;
  
}




.text{
  font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight:400;
font-size: 24px;
line-height: 141.5%;
text-align: center;

padding-left: 48px;
padding-top: 48px;
}
.testimonials{
  height:1106px;
 
}
.Review{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom:106px;
  margin-top: 48px;

}

.comment {
  width: 403px;
  height: 400px;
  background: #F5FDFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  align-items: center;
  padding: 32px;
 
}

.comment img{
  width: auto;
  height: 32;
padding-left: 164px;
padding-bottom:  32px;

}
.comment h4{
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 24px;
text-align: center;
line-height: 141.5%;
padding-bottom: 16px;

}
.comments{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 165%;
text-align: center;
padding-bottom: 16px;
padding-bottom: 24px;
color: #161C31;

}
.comment h5{
  font-family: 'Manrope';
font-style: normal;
font-weight:800;
font-size: 16px;
line-height: 165%;
text-align: center;
color: #161C31;
padding-top: 60px;
}
.postion{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 165%;
text-align: center;
color: #161C31;
}

.testmonialbutton{
  align-items: center;
  padding: 16px 42px;
  gap: 9.41px;
  position: absolute;
  width: 281px;
  height: 57px;
  left: calc(50% - 281px/2);
  background: #5E29D6;
  border-radius: 48px;
  border: none;
  color: white;
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 800;
  transition: 0.3s;

  }

  .testmonialbutton:hover{
    
    background: #5E29D6;
    opacity: 84%;
    color: #fff;
  }
  

.portfolio{
   /* height: 1427px; */
    background-color: #161C31;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.projects-grid{
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 64px;
  box-sizing: border-box;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 24px;

}

.projects-grid-item{
  padding: 0px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 24px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 12px;
  height: auto;
  align-content: center;
  
}

.card-thumbnail{
  width: 100%;
}

.card-content{
  padding: 24px;
  color: #161c31;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.casestudy-button{
  background-color: #FFFFFF;
  color: #161c31ca;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  border: none;
  box-align: center;
  vertical-align: middle;
  
}

.casestudy-button > span {

  transition: 0.3s

}

.casestudy-button:hover > img {

  margin-left: 8px;

}

.casestudy-button:hover > span {

  text-decoration: underline;

}

.link-image{
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-left: 2px;
  transition: 0.3s;
}

.link-image:hover{

 
}







.sectionheading-1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  padding-left: 48px;
  padding-top: 84px;
  padding-bottom: 32px;
  color:white;

}
.card{
  border-radius:12px;
  color: #161C31;
  background-color: #fff;
  height:375px;
}


.protfoliobutton{
  align-items: center;
  padding: 16px 42px;
  gap: 9.41px;
  position: absolute;
  width: 281px;
  height: 57px;
  left: calc(50% - 281px/2);
  background: #5E29D6;
  border-radius: 48px;
  border: none;
  color: white;
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 800;
}
.ctf{
  background-color: #5E29D6;
  height: 563px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.ctfheading
{
  color: white;
font-size: 48px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
font-style: normal;
line-height: 160%;
letter-spacing: -0.02em;
text-align: left;
padding: 20px 42px;
}
.ctfbody{
  padding: 16px 42px;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 141.5%;
  text-align: left;
  padding-left: 48px;
  padding-top: 48px;
  color: white;
  left: 6.53%;
    right: 78.89%;
}
.ctfbutton{
  padding: 16px 42px;
  gap: 9.41px; 
  position: absolute;
  height: 57px;
  left: 6.53%;
  right: 78.89%;
  background: #00CBF3;
  border-radius: 48px;
  border: none;
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: auto;

}



.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
@media only screen and (max-width: 650px) {
  .menu {
      
    display: flex;
    position:absolute;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    gap: 20px;
}
.menu.active {
  left: 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.secondarybtn{
  display: none;
}
.primarybtn{
  padding: 16px 42px;
  gap: 9.41px; 
  height: 57px;
  left: 6.53%;
  right: 78.89%;
  top: 400px;
  background: #00CBF3;
  border-radius: 48px;
  border: none;
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: 10px;

}
.hero{
  grid-template-columns: repeat(1,1fr);
}
.hero img{
  width: 300px;
  height: auto;
}
.heroheading{
  font-size: 48px;
}
.herobody{
  font-size: 16px;
}
.sectionheading{
  font-size: 24px;
}
.sectionbody{
  font-size: 14px;
}
.Job{
  height: 1450px;
}

.cardheading{
  font-size: 18px;
}
.client img{
  width: 75px;
}
.testimonials{
  height:1570px;
}
.comment {
  width: 200px;
  height: 300px;
  background: #F5FDFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
 
}

.comment img{
  width: auto;
  height: 32;
padding-left: 120px;
padding-bottom:16px;
padding-top: 16px;

}
.comment h4{
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
text-align: center;
padding-bottom: 16px;

}
.comments{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 10px;
text-align: center;
padding-bottom: 16px;
padding-bottom: 24px;
color: #161C31;

}
.comment h5{
  font-family: 'Manrope';
font-style: normal;
font-weight:800;
font-size: 10px;
text-align: center;
color: #161C31;
padding-top: 48px;
}
.postion{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 10px;
text-align: center;
color: #161C31;
}
.testmonialbutton{
  align-items: center;
  padding: 16px 42px;
  gap: 9.41px;
  position: absolute;
  width: 190px;
  height: 25px;
  left: calc(60% - 270px/2);
  background: #5E29D6;
  border-radius: 48px;
  border: none;
  color: white;
  font-family: 'Manrope';
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 30px;
}
.sectionheading-1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-align: center;
  padding-left: 48px;
  padding-top: 84px;
  padding-bottom: 32px;
  color:white;
}

}