@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@500;600;700&display=swap');
@font-face {
    font-family: 'VisbyCF';
    src: url(/fonts/VisbyCF-Bold.otf);
    src: url(/fonts/VisbyCF-ExtraBold.otf);
    src: url(/fonts/VisbyCF-Medium.otf);
}
.sitecontainer {
  margin: 0;
  padding: 0;
  max-width: 2000px;
  font-family: 'Raleway', sans-serif;
}
.header {
  text-align: center;
  color: #fff;
}
.hidden {
  display: none;
}
.topsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
background-color: #5E29D6;
   padding-top: 32px;
   padding-bottom: 10px;
   padding-left: 48px;
   padding-right: 48px;
   
}
nav{
    cursor: pointer;
}
nav ul li
{
  display: inline-block;
  list-style: none;
  margin: 20px 30px;
  font-family: 'Manrope', sans-serif;
color: white;
font-size: 16px;
font-weight: medium;
}
nav a
{
  color: #fff;
  text-decoration: none;
}
nav a:hover
{
  color: blue;
}
.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
    
}
.secondarybtn{
    border-color: white;
    justify-content: center;
    align-items: center;
    padding: 13.1765px 22.5882px;
    gap: 9.41px;
    width: 170.18px;
    height: 51.35px;
    border: 1.6px solid #FFFFFF;
    border-radius: 48px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 16px; 
    font-weight: bold;    


}
.hero {
    background-color: #5E29D6; 
    height: 100vh;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    background-image: url(../images/full\ image\ with\ logo.png);
    height: 700px;
    background-position: center;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;


}
.welcometext{
   padding-top: 96px;
   padding-left: 48px;
    
}
.Hero heading {
color: white;
font-size: 84px;
font-family: 'VisbyCF';
font-weight: 900;
font-style: normal;
font-size: 84px;
line-height: 90.5%;
letter-spacing: -0.02em;
text-align: left;
padding-left: 48px;

}
.Hero body{
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 141.5%;
text-align: left;
padding-left: 48px;
padding-top: 48px;
}
.heroimg{
    
  }
.primarybtn{
align-items: center;
padding: 16px 42px;
gap: 9.41px; 
position: absolute;
height: 57px;
left: 6.53%;
right: 78.89%;
top: 645px;
background: #00CBF3;
border-radius: 48px;
border: none;
font-family: 'Manrope', sans-serif;
color: white;
font-size: 18px;
font-weight: bold;


}
.Products {
  margin-top: 60px;
  padding-bottom: 60px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.Products > * {
  flex: 1 1 250px;
}

.Product-1 {
  width: 200px;
height: 300px;
  overflow: hidden;
  background-color: black;
}
.Product-2 {
  width: 200px;
  
  overflow: hidden;
  background-color: black;
}
.Product-3 {
  width: 200px;
  
  overflow: hidden;
  background-color: black;
}
.Product-4 {
  width: 200px;
  height: 300px;
  overflow: hidden;
  background-color: black;
}
.Product-5 {
  width: 200px;
  
  overflow: hidden;
  background-color: black;
}
.Product-6 {
  width: 200px;
  
  overflow: hidden;
  background-color: black;
}
.testimonials{
  margin-top: 40px;
  padding-bottom: 90px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.promoText {
  float: right;
  width: 200px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: black;
}

.PromoImage {
  float: left;
  width: 400px;
  margin-right: 40px;
  margin-top: 40px;
  background-color: black;
}
.protfolio{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    background-color: black;
}
footer {
  margin-top: 60px;
  padding-bottom: 60px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.footer > * {
  flex: 1 1 200px;
}
.FooterLogo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: black;
}
.SocialIcon {
  width: 150px;
  height: 200px;
  overflow: hidden;
  background-color: black;
}
.FooterNav {
  width: 150px;
  height: 200px;
  overflow: hidden;
  background-color: black;
}
.ProductSlogan {
  width: 150px;
  height: 200px;
  overflow: hidden;
  background-color: black;
}
.gallery{
    padding-top: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 150px;
    align-content: center;
  
}
.gallery-Image img {
  align-items: center;
  justify-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  *,*:before,
*:after{box-sizing:border-box}
body{font-family:"Encode Sans Semi Condensed",sans-serif;
    font-size:16px;
    color:#fff;
    background-color:#fff;
    width:100%}
.hidden{display:none}
h1,h2,h3,h4{text-align:center;
    font-size:2.5em;
    padding-bottom:1em;
    padding-top:1em}
p{text-align:center}a{text-decoration:none}
#siteContainer{margin:0 auto;
    border-radius: 20px;
    background-color:#5E29D6;
    width:100%;
    max-width:1200px}
.mainHeader{width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:auto}
.mainHeader .menuContainer{
    position:relative
}
.mainHeader .menuContainer button{
    display:block;
    border:0px;width:65px;height:50px
}
.logoCon{
    padding:0;height:50px;
    margin-top:1em;
    margin-bottom:1em
}
.logoCon img{
    height:100%;
    width:auto;
    cursor:pointer
}
.headerCon{
    display:flex;
    flex-direction:column;
    margin-right:1em
}
.socialCon li{
    display: table-column;
    padding-left:0px;
}
.socialCon li img{
    cursor:pointer
}
.menuContainer{
    display:flex;
    justify-content:flex-end
}
#menubutton{
    align-self:right;
    margin-top:1em;
    background:#f2ece3
}
.navCon{
    display:none;
    position:absolute;
    top:40px;z-index:9;
    padding:15px;width:90%;
    text-align:center;
    margin-top:1em;
    animation:fadeIn .7s;
    -webkit-animation:fadeIn .7s;
    -moz-animation:fadeIn .7s;
    -o-animation:fadeIn .7s;
    -ms-animation:fadeIn .7s
}
.navCon li{
    margin-bottom:20px;
    margin:0 5px
}
.navCon li a{
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    transition:all .5s linear
}
.navCon li a:hover{
    color:#d84338;
    font-size:24px
}
@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}}
.navCon.slideToggle{
    display:block !important
}
.burgerCon{
    background:#dba868;
    padding:2em 0;
    width:20vh;
    margin-right:2em
}
.burgerCon li{
    margin-top:1em
}
.burgerCon li a{
    color:#373234;
    margin-top:2em
}
@media screen and (min-width: 768px)
{
.mainHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-around
}
.mainHeader .menuContainer button{display:none}
.headerCon{
    display:flex;
    flex-direction:column;
    align-items:flex-end}
.navCon{
    width:100%;
    display:flex;
    flex-direction:column;
    position:relative;
    top:unset;right:unset;
    background:none;
    box-shadow:none;
    z-index:1;padding:0;
    text-align:unset}
.navCon ul{
    list-style-type:none;
    padding:0;margin:0;
    width:100%;height:100%;
    display:flex;
    align-items:center;
    justify-content:space-around}
.navCon ul li{
    float:left;
    width:20%;
    position:relative;
    text-align:center;
    margin-bottom:unset}
.navCon ul li a{
    padding:5px 0;
    font-size:1.5em;
    text-decoration:none;
    display:block;width:100%;
    text-align:center;
    padding-right:1em}
.navCon ul li a a:hover{
    color:#dba868}
    .burgerCon{background:transparent;
        display:flex;flex-direction:row;
        justify-content:end}
.burgerCon a{color:#373234}}
footer{
    display:flex;
    border-radius: 10px;
    flex-direction:column;
    justify-content:space-around;
    background-color:#5E29D6;
    color:#373234;
    padding-bottom:20px
}
.footer h3{
    font-family:"Bangers",cursive
}
.footer HR{
    height:1px;width:50%
}

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body,
    input,
    textarea {
      font-family: "Poppins", sans-serif;
    }
    
    .container {
      width: 100%;
      min-height: 50vh;
      padding: 2rem;
      background-color: #EBFCFF;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .form {
      width: 10000px;
      height: 100%;
      z-index: 1000;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-form {
      background-color: #EBFCFF;
      position: relative;
      padding: auto;
    }
    
    .circle {
      border-radius: 50%;
      background: linear-gradient(125deg, transparent 20%, #fff);
      position: absolute;
    }
    
    .circle.one {
      width: 130px;
      height: 130px;
      top: 130px;
      right: 40px;
    }
    
    .circle.two {
      width: 80px;
      height: 80px;
      top: 10px;
      right: 30px;
    }
    
    .contact-form:before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: #EBFCFF;
      transform: rotate(45deg);
      top: 50px;
      left: -13px;
    }
    
    form {
      background-color: #EBFCFF;
      padding: 2.3rem 2.2rem;
      z-index: 10;
      overflow: hidden;
      position: relative;
    }
    
    .title {
      padding-top: 40px;
      color: rgb(0, 0, 0);
      font-weight: 500px;
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 0.7rem;
    }
    .form .contact-info .title .text {
      padding-top: 20px;
    }
    
    .input-container {
      position: relative;
      margin: 1rem 0;
    }
    
    .input {
      width: 100%;
      outline: none;
      border: 2px solid #ffffff;
      background: none;
      padding: 0.6rem 1.2rem;
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 0.95rem;
      letter-spacing: 0.5px;
      border-radius: 8px;
      transition: 0.3s;
    }
    
    textarea.input {
      color: rgb(255, 255, 255);
      padding: 0.8rem 1.2rem;
      min-height: 150px;
      border-radius: 8px;
      resize: none;
      overflow-y: auto;
    }
    
    .input-container label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      padding: 0 0.4rem;
      color: #000000;
      font-size: 0.9rem;
      font-weight: 400;
      pointer-events: none;
      z-index: 1000;
      transition: 0.5s;
    }
    
    .input-container.textarea label {
      top: 1rem;
      transform: translateY(0);
    }
    
    .btn {
      padding: 0.6rem 1.3rem;
      background-color: #00CBF3;
      border: 2px solid #fafafa;
      font-size: 0.95rem;
      color: rgb(255, 255, 255);
      line-height: 1;
      border-radius: 25px;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .btn:hover {
      background-color: transparent;
      color: #5E29D6;
    }
    
    .input-container span {
      position: absolute;
      top: 0;
      left: 25px;
      transform: translateY(-50%);
      font-size: 0.8rem;
      padding: 0 0.4rem;
      color: transparent;
      pointer-events: none;
      z-index: 500;
    }
    
    .input-container span:before,
    .input-container span:after {
      content: "";
      position: absolute;
      width: 10%;
      opacity: 0;
      transition: 0.3s;
      height: 5px;
      background-color: rgb(71, 218, 255);
      top: 50%;
      transform: translateY(-50%);
    }
    
    .input-container span:before {
      left: 50%;
    }
    
    .input-container span:after {
      right: 50%;
    }
    
    .input-container.focus label {
      top: 0;
      transform: translateY(-50%);
      left: 25px;
      font-size: 0.8rem;
    }
    
    .input-container.focus span:before,
    .input-container.focus span:after {
      width: 50%;
      opacity: 1;
    }
    
    .contact-info {
      padding: 2.3rem 2.2rem;
      position: relative;
    }
    
    .contact-info .title {
      text-align: left;
      font-size: 70px;
      color: rgb(0, 0, 0);
    }
    
    .text {
      text-align: left;
      color: #333;
    }
    
    .information {
      display: flex;
      color: #555;
      margin: 0.7rem 0;
      align-items: center;
      font-size: 0.95rem;
    }
    
    .icon {
      width: 28px;
      margin-right: 0.7rem;
    }
    
    .social-media {
      padding: 2rem 0 0 0;
    }
    
    .social-media p {
      color: #333;
    }
    
    .social-icons {
      text-align: center;
      display: flex;
      margin-top: 0.5rem;
    }
    
    .social-icons a {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      background: linear-gradient(45deg, rgb(71, 218, 255), #149279);
      color: #fff;
      
      line-height: 35px;
      margin-right: 0.5rem;
      transition: 0.3s;
    }
    
    .social-icons a:hover {
      transform: scale(1.05);
    }
    
    .square {
      position: absolute;
      height: 400px;
      top: 50%;
      left: 50%;
      transform: translate(181%, 11%);
      opacity: 0.2;
    }
    
    @media (max-width: 850px) {
      .form {
        grid-template-columns: 1fr;
      }
    
      .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
      }
    
      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }
    
      .square {
        transform: translate(140%, 43%);
        height: 350px;
      }
    
      .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
      }
    
      .text {
        margin: 1rem 0 1.5rem 0;
      }
    
      .social-media {
        padding: 1.5rem 0 0 0;
      }
    }
    
    @media (max-width: 480px) {
      .container {
        padding: 1.5rem;
      }
    
      .contact-info:before {
        display: none;
      }
    
      .square,
      .big-circle {
        display: none;
      }
    
      form,
      .contact-info {
        padding: 1.7rem 1.6rem;
      }
    
      .text,
      .information,
      .social-media p {
        font-size: 0.8rem;
      }
    
      .title {
        font-size: 1.15rem;
      }
    
      .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    
      .icon {
        width: 23px;
      }
    
      .input {
        padding: 0.45rem 1.2rem;
      }
    
      .btn {
        padding: 0.45rem 1.2rem;
      }
    }

    .footercontact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }

    